@import "../../node_modules/bootstrap/scss/bootstrap";

.sidebar-item.dropdown-item.active {
  color: $blue !important;
  background-color: $gray-100;
}

.sidebar-item.dropdown-item:active,
.sidebar-item.dropdown-item.active:active {
  color: $blue !important;
  background-color: $gray-200 !important;
}

.sidebar-item.dropdown-item:focus,
.sidebar-button.dropdown-item:focus {
  background-color: $gray-100;
}

.sidebar-item.dropdown-item:focus:hover,
.sidebar-button.dropdown-item:focus:hover,
.sidebar-item.dropdown-item:focus:active,
.sidebar-button.dropdown-item:focus:active {
  background-color: $gray-200 !important;
}

.custom-toggle {
  color: gray !important;
}

.custom-toggle:hover {
  color: black !important;
}

.clickable-card:hover {
  cursor: pointer;
}

.edit-caret {
  position: absolute;
  color: rgba(0, 0, 0, 0.7);
  border-radius: 3px;
  background-color: rgba(255,255,255,0.7);
  top: 5px;
  right: 5px;
}
.edit-caret:hover {
  color: black !important;
  cursor: pointer;
}

.dropdown-menu.show {
  z-index: 100 !important;
}